:root {
    --almost-black: #242424;
    --almost-white: #f9f9f9;
    --green: #00E175;
    --grass-green: #87C44F;
    --yellow: #ffc900;
    --orange: #ffb600;
    --blue: #00a6ff;
    --dark-blue: #00679AFF;
    --silver: #8db5cc;
    --brown: #BD381A;
    --red: #FF004DFF;
    --lasagna: #ff6c6c;
    --light-gray: #D0D2D5;
    --gray: #808080FF;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*background-color: var(--almost-black);*/
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /*background-color: var(--yellow);*/
    /*background-color: var(--grass-green);*/
    background-color: black;
}

.img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.red {
    color: var(--red)
}

.silver {
    color: var(--silver)
}

.h3 {
    margin: 0;
}

.ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.arrowhead-marker {
    fill: var(--blue)
}

.hidden {
    visibility: hidden;
}

.stroke-text {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

svg {
    shape-rendering: geometricPrecision;
}

/* Проверка поддержки -webkit-text-stroke */
@supports (-webkit-text-stroke: 1.5px black) {
    .stroke-text {
        -webkit-text-stroke: 1.5px black;
        text-shadow: none;
    }
}

/* Проверка поддержки text-stroke */
@supports (text-stroke: 1.5px black) {
    .stroke-text {
        text-stroke: 1.5px black;
        text-shadow: none;
        paint-order: fill stroke;
    }
}

.bg image{
    opacity: 0.5;
}
