:root {
    --almost-black: #242424;
    --almost-white: #f9f9f9;
    --yellow: #ffc900;
    --orange: #ffb600;
    --blue: #00a6ff;
    --dark-blue: #00679AFF;
    --silver: #8db5cc;
    --brown: #BD381A;
    --red: #FF004DFF;
    --lasagna: #ff6c6c;
    --gray: #808080FF;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--almost-black)
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--yellow);
}

.img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.red {
    color: var(--red)
}

.silver {
    color: var(--silver)
}
