.card-wrapper {
    color: #000;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.card-wrapper.grabbable {
    cursor: grab
}

.card-wrapper.dragging {
    cursor: grabbing;
}

.card-wrapper.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.card-wrapper__img{
    min-height: 200px;
    max-height: 240px;
}
.card-wrapper.small .card-wrapper__img{
    width: 100%;
    height: 200px;
    min-height: unset;
}

.card-wrapper.micro .card-wrapper__img {
    width: 100%;
    height: 100px;
    min-height: unset;
    object-fit: contain;
}

.card-wrapper.micro .card-wrapper__img {
    width: 100%;
    height: 100px;
    min-height: unset;
    object-fit: contain;
}

.card-wrapper.micro .card__inner {
    width: 150px;
    min-height: 100px;
}

.card__inner {
    border-radius: 8px;
    width: 244px;
    min-height: 310px;
    overflow: hidden;
    background-color: white;
}

.card__inner.cmd:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    height: 20px;
    width: 40px;
    transform: translate(-50%, 0);
    background: #d6d5e6;
    z-index: 1000;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
    font-size: 9px;
    border: 2px solid #222138;
}

.card__body {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card__connectors {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-wrapper .handle-reset {
    left: unset;
    top: unset;
    position: static;
    transform: none;
    border-radius: unset;
}
.card-wrapper .handle {
    height: 30px;
    width: 30px;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid black;
    background: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle-overlay {
    opacity: 0.5;
}

.card-wrapper .handle-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--blue);
}

.handle-overlay.catcher {
    background-color: var(--yellow);
    z-index: 10;
}

.handle-overlay.transparent {
    pointer-events: none;
    opacity: 0;
}

.handle.input {
    background: var(--yellow);
}

.handle *{
    pointer-events: none;
}

.card {
    &__inputs {
        right: 100%;
        transform: translateX(50%);
    }

    &__outputs {
        left: 100%;
        transform: translateX(-50%);
    }

    &__header, &__footer {
        width: 100%;
        padding: 12px;
    }

    &__header {
        text-align: center;
        padding-top: 24px;
    }

    &__timer {
        position: absolute;
        left: 0;
        right: 0;
    }

    &__items {
        padding: 16px;
    }
}

.items {
    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8px
    }

    &__item {
        width: 38px;
        height: 38px;
        position: relative;
    }

    &__item-border {
        display: block;
        position: absolute;
        z-index: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: var(--light-gray);
    }
}
