.node-wrapper {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0, 0.06);
    width: 240px;
}

.node__body {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node__connectors {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.node__connectors .handle {
    left: unset;
    top: unset;
    position: static;
    transform: none;

    height: 28px;
    width: 28px;
    padding: 4px;
    border-radius: 4px;
    background: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle.input {
    background: var(--yellow);
}

.handle *{
    pointer-events: none;
}

.node__inputs {
    right: 100%;
    transform: translateX(50%);
}

.node__outputs {
    left: 100%;
    transform: translateX(-50%);
}

.node__header, .node__footer {
    width: 100%;
    padding: 20px;
}

.node__footer {
    display: flex;
    justify-content: space-between;
}

.node__header * {
    margin: 0;
}
