.node-wrapper {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0, 0.06);
}
.node__body {
    width: 220px;
    height: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.node__connectors {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.node__connectors .handle {
    left: unset;
    top: unset;
    position: static;
    transform: none;

    height: 12px;
    width: 12px;
    border: unset;
    background: unset;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle *{
    pointer-events: none;
}

.node__inputs {
    right: 100%;
}

.node__outputs {
    left: 100%;
}

.node__header {
    width: 100%;
    padding: 20px;
}
.node__header * {
    margin: 0;
}
