
.dmg-indicator {
	bottom: 0;
	left: 0;
	width: 92px;
	height: 92px;
	transform: translate(-40%, 40%);

	&__value-container {
		transform: translate(calc(-50% + 0.12em), calc(50% - 0.85em));
		left: 50%;
		top: 50%;
	}
}
