* {
  box-sizing: border-box;
}

#root {
  max-width: calc(100vw - 80px);
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

.input {
  border: 2px solid black;
  background: white;
  border-radius: 0;
  font-size: 18px;
  padding: 2px 6px;
}

.input:focus {
  outline: 1px solid skyblue;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 4rem);
}

.node-sandbox {
  flex-grow: 1;
}
